.box-itemcount{
    display: flex;
    justify-content: space-between;
    width: 150px;
    align-items: center;
    border: 2px black solid;
    background-color: gainsboro;
}
.text{
margin: 0px;
font-size: 1rem;
color: black;
}
.add{
 width: 30px;
 color: orange;
 background-color: black;
 border: 2px solid black;
}
.boxitemcount{
    margin-right: 25px;
}